# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/OAiP/FileContentIndex/307f6311-c4bd-4193-9b13-995c977aa738.vsidx
/.vs/OAiP/FileContentIndex/31a2aba5-2790-4c15-aa6a-3b1bb1a1f42a.vsidx
/.vs/OAiP/FileContentIndex/4143c9e1-5228-49d1-8d3b-ec0c23114f30.vsidx
/.vs/OAiP/FileContentIndex/41843b40-3902-481a-8c32-4f350b5e01d5.vsidx
/.vs/OAiP/FileContentIndex/e7171f4e-ca69-4de8-a13d-361e851cc663.vsidx
